body {
    background:url('../img/background/background.png');
    background-repeat: no-repeat;
    width: 100%;
    padding:50px;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main{
    flex: 1 0 auto;
}

#login-dp {
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,.8);
}

#login-dp .help-block {
    font-size:12px    
}

#login-dp .bottom {
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}

#login-dp .social-buttons {
    margin:12px 0    
}

#login-dp .social-buttons a {
    width: 49%;
}

#login-dp .form-group {
    margin-bottom: 10px;
}

.btn-fb{
    color: #fff;
    background-color:#3b5998;
}
.btn-fb:hover{
    color: #fff;
    background-color:#496ebc 
}

.btn-tw {
    color: #fff;
    background-color:#55acee;
}

.btn-tw:hover {
    color: #fff;
    background-color:#59b5fa;
}

@media(max-width:768px) {
    #login-dp{
        background-color: inherit;
        color: #fff;
    }

    #login-dp .bottom {
        background-color: inherit;
        border-top:0 none;
    }
}

.angular-google-map-container { 
    height: 600px;
    width: 100%;
    text-align: center;
}


.location-list {
    border-radius: 5px;
    padding: 5px;
    margin: 4px;
    border: 1px solid #e1e8ed; 
    background-color: #f5f8fa;
    background-image: linear-gradient(#fff,#f5f8fa);
}



.selected {
    background: #ddd;
}


#success_message {
   display: none;
}

.markerWindow {
    font-size: 14px;
    width:250px;
}





.card2 {
    margin-bottom: : 30px;
}

.card2 div {
    border-radius: 4px;
    box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.75);
    overflow: hidden; 
}

.card2 .cardhead {
    background-size: cover;
    border-radius: 4px 4px 0px 0px;
    box-shadow: 0px 3px 2px 0px rgba(0,0,0,0.75);
    overflow: hidden;
    position: relative;
    border: none;
    display: flex;
    min-height: 160px;
    max-height: 200px;
}

.card2 .cardhead .cardtitles {
    background: rgba(0,0,0,.25);
    padding: 0px 8px;
    width: 100%;
    // this isn't working properly.
    // it's supposed to keep a constant
    // height and align the titles 
    // to the bottom, but right now
    // the titles have padding to push
    // up the height of this div.
    align-self: flex-end;
}

/*.card2 .cardhead .cardtitles h3, h4 {
    color: #fff;
}*/

.cardcontent {
    padding: 16px 8px;
    background-color: #fafafa;
}







.modal-backdrop {
    overflow: hidden;
    height: 0;
    -webkit-transition: opacity 0.15s linear, height 0 0.2s linear;
    -moz-transition: opacity 0.15s linear, height 0 0.2s linear;
    -ms-transition: opacity 0.15s linear, height 0 0.2s linear;
    -o-transition: opacity 0.15s linear, height 0 0.2s linear;
    transition: opacity 0.15s linear, height 0 0.2s linear;
}
.modal-backdrop.in {
    height: 100%;
    -webkit-transition: opacity 0.15s linear;
    -moz-transition: opacity 0.15s linear;
    -ms-transition: opacity 0.15s linear;
    -o-transition: opacity 0.15s linear;
    transition: opacity 0.15s linear;
}




/*** Calendar ***/

.box {
    width: 20px;
    height: 20px;
    margin-top: 2em;
    margin-left: 1em;
    margin-bottom: 1em;
    border-radius: 4px;
}

.colorSquareMusic {
    background-color: #487FDD;
}

.colorSquareTheatre {
    background-color: #FF8921;
}

.colorSquareMuseum {
    background-color: #62D17F;
}

.calAlert{
    float: left; 
    margin-bottom: 5px;
    width: 300px; 
    margin-top: 3em; 
    margin-left: 2em;
    box-shadow: 4px 4px 11px #888888;
    padding: 1em;
    border-radius: 4px;
}
