<section id="directives-calendar" ng-controller="CalendarCtrl">
	<div class="well">
		<div class="col-xs-3">
			<div>
				<!-- <ul>
					<li ng-repeat="e in events" type="info">
						<b> {{e.title}} </b>
						<p>{{e.start | date:"dd MMM"}} - {{e.end | date:"dd MMM"}}</p>
						<p>{{e.timetable}}</p>
						<p>{{e.price}}</p>
					</li>
				</ul> -->

				<!-- <ul class="alert-success calAlert" ng-show="alertMessage != undefined && alertMessage != ''"><li><p>date.title</p><p>date.location</p></li></ul> -->

			</div>
		</div>
		<div class="col-xs-9" style="background-color: #EEE;">
			<tabset>
				<tab active select="renderCalendar('myCalendar');">
					<tab-heading>
						<i class="glyphicon glyphicon-bell"></i> Calendario de Eventos
					</tab-heading>
					<div class="alert-success calAlert" ng-show="alertMessage != undefined && alertMessage != ''">
						<h5>{{alertMessage}}</h5>
					</div>
					<div class="calendar" ng-model="eventSources" calendar="myCalendar" ui-calendar="uiConfig.calendar" ng-if="eventSources"></div>

				</tab>
			</tabset>
		</div>
		<div class="clearfix"></div>
	</div>
</section>