<div class="container-fluid">
	<div ng-controller="loadMapController">
		
		<section class="mapHeader">
			<h1><i class="glyphicon glyphicon-map-marker"></i> ¿Qué buscas?</h1>
			<h3>Encuentra los puntos más cercanos según tus preferencias</h3>
			<h4>Clica sobre ellos para obtener más información</h4>

			<select id="dropdown" ng-model="categoryOrder" class="form-control selectpicker">
				<option value="0">Todos</option>
				<option ng-repeat="category in categories" value="{{category}}">{{category}}</option>
			</select>
		</section>
		
		<div class="well mapBox">
			<ui-gmap-google-map center='map.center' zoom='map.zoom' aria-label="Google map" pan="true">

				<ui-gmap-marker ng-repeat="marker in locations | filter:categoryOrder" coords="{latitude: marker.latitude, longitude: marker.longitude}" options="marker.options" events="map.markersEvents" idkey="marker.id" >
					<ui-gmap-window ng-cloak>
						<div class="markerWindow">
							<p><img ng-src="{{marker.image}}" alt="{{marker.name}}" class="markerImage"></p>
							<p><strong>{{marker.name}}</strong></p>
							<p>{{marker.address}}</p>
							<p><i class="fa fa-external-link" aria-hidden="true"></i><a ng-href="{{marker.website}}"> Página web</a></p>
							<p><span class="glyphicon glyphicon-plus"> </span><a href="#/profile/location/{{marker.id}}"> Información y Eventos</a></p>
						</div>
					</ui-gmap-window>
				</ui-gmap-marker>

			</ui-gmap-google-map>
		</div>

	</div>
</div>

