<div class="container">
	<div class="col-md-10 col-md-offset-1 card2">
		<div ng-repeat = "place in locations | filter : {id: id}">
			<img ng-src="{{place.image}}" alt="{{place.name}}" class="placeImage">
			<div class="cardhead">
				<div class="cardtitles">
					<h3>{{place.name}}</h3>	
				</div>
			</div>
			<div class="cardcontent">
				<div class="locationInfo">
					<p><strong>Página web:</strong> <a href="{{place.website}}">Website</a></p>
					<p><strong>Horarios:</strong> <span>{{place.info}}</span></p>
					<p><strong>Dirección:</strong> <span>{{place.address}}</span></p>
					<p><strong>Contacto:</strong> <span>{{place.phonenumber}}</span></p>
				</div>
				<section class="eventcardlist">
					<div ng-repeat="show in place.events" class="col-md-4 eventCard">
						<h4>{{show.title}}</strong></h4>
						<p><strong>Horario: </strong>{{show.timetable}}</p>
						<p><strong>Precio: </strong>{{show.price}}</p>
						<p><strong>Fecha: </strong>{{show.start | date:'dd MMMM yyyy'}} - {{show.end | date:'dd MMMM yyyy'}}</p>
						<p class="addeventbutton"><button class="btn btn-success">Añadir a mi lista</button></p>
					</div>
				</section>
			</div>	
		</div>
	</div>
</div>
